#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.person-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: #DAF7A6;
  padding: 20px;
}

.person-botton-add {
  margin-top: 20px;
  width: 200px;
  background-color: lightgreen
}

.person-li {
  text-align: start
}

.personForm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CCD1D1;
  padding: 20px;
  margin-top: 20px;
}

.personForm-form {
  display: flex;
  flex-direction: column;
  width: 40vh;
}

.personForm-input {
   margin-bottom: 5px
}

.notify-container {
  background-color: rgb(235, 37, 37);
  color: white;
  font-size: 14;
  font-weight: 300;
  align-self: flex-start;
  margin-left: 70px;
  margin-bottom: 10px;
}

.personPhone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CCD1D1;
  padding: 20px;
  margin-top: 20px;
}

.personPhone-form {
  display: flex;
  flex-direction: column;
  width: 40vh;
}

.personPhone-input {
   margin-bottom: 5px
}

.personPhone-botton-edit {
  margin-top: 10px;
  width: 280px;
  background-color: lightseagreen;
}